<head>

</head>
<body>
<h2></h2>
<%=yield %>
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>
<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure you want delete this "} %>
<%= link_to "New Ticket", new_project_ticket_path(@project) %>
</body>